/* HOME PAGE LANDING CSS */
.contain{
    padding-top: 180px;
  }
.items-center{
    align-items: center;
  }
  .landing{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100vh;
      margin-top: -200px;
  
    }
    
    .landingText h1{
      font-size: 3vw;
      margin: 0 !important;
    }
    
    .landingText h3{
      margin: 6px !important;
      font-size: 20px;
      opacity: 0.6;
      line-height: 30px;
    }
    
    .landingText .btn{
      margin-top: 30px;
      padding: 14px 20px 14px 20px;
      background-color: #2f8be0;
      border-radius: 45px;
      text-align: center;
    }
    
    .landingText .btn a{
      font-size: 1.2vw;
      color: #fff;
      text-decoration: none;
    }
    
    .landingImage img{
      width: 28vw;
      margin-top: 100px;
    }
    .landingText .btn:hover {
      background: #002f5a;
    }




    .info-box {
      background-color: #fce4ec;
      padding: 10px;
      margin-bottom: 20px;
      margin-top: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
   .info-icon {
      color: #e91e63;
      font-size: 32px;
      margin-right: 20px;
    }
  
   .info-text {
      font-size: 18px;
      font-weight: bold;
      color: #e91e63;
    }